$color-dark: #000;
$color-light: #fff;
$color-main: #BEA67C;

$source-code-pro-black: 900;
$source-code-pro-semibold: 600;
$source-code-pro-semibold_italic: italic;
$source-code-pro-bold: 700;
$source-code-pro-regular: 400;